html {
  height: 100%;
  width: 100%;
}
 .container{
  display: flex;
  flex-wrap: wrap;
}
.note{
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  margin:1rem;  
}
.navigator{
  background-color:cornflowerblue;
  width: 100%;
  display: flex;
  padding: 0.2rem;
  justify-content: flex-end;
}
 textarea{
  width: 100%;
  font-size: 1rem;
  height: 100%;
  resize: none;
}
textarea:focus{
  outline: none;
}
.main{
  display: flex;
  justify-content: space-between;
}

.trash, .save{
  color: white;
  font-size: 1rem;
  margin-left: 0.8rem;
} 